<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interfaces</title>
</head>
<body>
<h3>Information for all interfaces of switch <b>{{switch}}:</b></h3>
<br>
<table border="1">
        <tr>
            <th>ID</th>
            <th>Interface Name</th>
            <th>Description</th>
            <th>State</th>
        </tr>
    {% for entry in result %}
        <tr>
            <td>{{ entry['_id']}}</td>
            <td>{{ entry['Interface_Name'] }}</td>
            <td>{{ entry['Description'] }}</td>
            <td>{{ entry['State'] }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>